<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=CommissionDepartment; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />
    --><!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HANU-130\SQLEXPRESS;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBSERVER\TESTTVDB; Initial Catalog=CommisionDepartmentEricDB; User ID=sa;Password=admin@123; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.5\SQLSERVER2008R2;User Id=jyotisna;Password=acmeminds;Initial Catalog=CommisionDepartmentEricDB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;integrated security = true;Initial Catalog=Backup_June15; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.246.39.26;User Id=CommWebService;Password=WebService123;Initial Catalog=CommisionDepartmentEricDB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
  
  <appSettings>
    <add key="Benefits_Email" value ="jyotisna@acmeminds.com"/>
    <add key="Benefits_Email_CC" value ="deudev@acmeminds.com"/>
    <add key="Benefits_Email_BCC" value ="jyotisna@acmeminds.com"/>
    <add key="VersionUrl" value="D:\FileManager\Installers\VersionNumber.xml"/>
    <add key ="InstallerURL" value ="http://204.13.182.12/FileManager/TestInstaller;Administrator;Comm!$$!onD3pt123;cdeptsql"/>
    <add key ="devEmail" value ="jyotisna@acmeminds.com"/>
    <add key="PolicyIDKeyName" value ="Vision Plan ID"/>
    <add key="PolicyIDKeyName_Benefits" value ="OriginalPlanID"/>
    <add key ="AgentCharactersToTrim" value="(-["/>
    <add key ="BenefitsPolicyKeys" value ="BenefitsGuide__Medical_Plans__c.ID,BenefitsGuide__Dental_Plan__c.ID,BenefitsGuide__Vision_Plan__c.ID,BenefitsGuide__STD_Plan__c.ID,BenefitsGuide__LTD_Plan__c.ID,BenefitsGuide__Life_and_ADD_Plan__c.ID"/>
    <!--<add key="MethodNamesToTrack" value ="RemoveCommissiondashBoardIncomingPayment,UnlinkCommissiondashBoardIncomingPayment,DeuPostStartWrapper"/>-->
    <add key="TempFolderDeleteSizeInGB" value ="2"/>
    <!--<add key ="ExcelPath" value ="C:\\Jyotisna\\My Projects\\Projects\\Commissions_CodeBase\\3093_trunk\\MyAgencyVault.ServiceWcf\\Publish\\ExcelTemplate.xlsx"/>-->
  </appSettings>
  
    <system.web>
    
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingBehaviour"
          receiveTimeout="00:10:00"
          maxBufferSize="999999999"
          maxReceivedMessageSize="999999999"
          sendTimeout="00:10:00" openTimeout="00:10:00"
          closeTimeout="00:10:00">
          <readerQuotas maxStringContentLength="5242880"/>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <services>
      
      <service name="MyAgencyVault.WcfService.MavService" behaviorConfiguration="MyService">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5202/MavService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="/service" binding="webHttpBinding" behaviorConfiguration="web"
         contract="MyAgencyVault.WcfService.ITestRest"
                  />
          
        <endpoint address="" binding="basicHttpBinding" 
         contract="MyAgencyVault.WcfService.IStatementDates"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" 
           contract="MyAgencyVault.WcfService.IIssueResults"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IComDeptService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IClient"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IImportTransactionFile"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueStatus"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorUserWebSite"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayor"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IMasters"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICarrier"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IBatchStatmentRecords"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IInvoice"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPostUtil"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyToolIncommingShedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyOutgoingDistribution"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPayorToolAvailablelFieldType"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IJournal"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IExportDate"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IAdvancedPayee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IGlobalPayorContact"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBatch" 
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IDownloadBatch"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IStatement"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicy"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.INews"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILastViewPolicy"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIncomingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IClientAndPayment"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IOutgoingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicyToLearnPost"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorToolField"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.INote"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IGlobalIncomingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILearnedToPolicyPost"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IComDeptSupport"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ISendMail"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IDataEntryUnit"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IMavService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicyDetails"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorTool"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILinkPaymentReciptRecords"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICommissionEntry"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueCategory"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IOutgoingPayment"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILinkPaymentPolicies"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicensee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IFormula"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IFollowupIssue"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorSource"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicenseeNote"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorDefaults"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IInvoiceLine"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBillingLineDetail"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBatchFiles"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IBatchInsuredRecored"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IUser"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicySettings"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyLearnedField"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicySearched"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicenseeInvoice"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIncomingPament"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICoverage"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ICalculateVariableService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueReasons"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IExportCardPayeeInfo"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
        contract="MyAgencyVault.WcfService.IReport"
                bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
        contract="MyAgencyVault.WcfService.IPayorTemplate"
                bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
       contract="MyAgencyVault.WcfService.IDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
       contract="MyAgencyVault.WcfService.IConfigDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ISettingDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="" binding="basicHttpBinding"
                  contract="MyAgencyVault.WcfService.IBrokerCode"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="" binding="basicHttpBinding"
                  contract="MyAgencyVault.WcfService.ICompType"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding"
          contract="IMetadataExchange">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
   <behaviors>
      <serviceBehaviors>
        <behavior name="MyService">
          <serviceThrottling
            maxConcurrentCalls="50000"
            maxConcurrentSessions="50000"
            maxConcurrentInstances="50000"
          />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <UsernameBehavior/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
     
     <endpointBehaviors >
       <behavior name ="web">
         <webHttp />
       </behavior>

     </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="UsernameBehavior" type="MyAgencyVault.WcfService.UsernameServiceBehavior, MyAgencyVault.WcfService" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.net>
    <webRequestModules>
      <remove prefix="http:"/>
      <add prefix="http:" type="WcfHttpCompressionEnabler.CompressibleHttpRequestCreator, WcfHttpCompressionEnabler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </webRequestModules>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
