<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HANU-130\SQLEXPRESS;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--Local database-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HANU-130\SQLEXPRESS;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--eric server 155-->
    <add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=acme-server\SQLSERVER2008R2;User Id=jyotisna;Password=acmeminds;Initial Catalog=CommDB_Web;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
<!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=173.246.39.26;User Id=CommWebService;Password=WebService123;Initial Catalog=Backup_Oct21_19;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <appSettings>    
    <add key="MainPath" value="E:\Filemanager\Uploadbatch"/>
    <add key="ImagesFolderPath" value="E:\Filemanager\Images\"/>
    <add key="SucessFolderPath" value="E:\Filemanager\Uploadbatch\Import\Success\"/>
    <add key="TempFolderPath" value="E:\Filemanager\Uploadbatch\Import\Temp\"/>
    <add key="UnSucessFolderPath" value="E:\Filemanager\Uploadbatch\Import\Unsuccess\"/> 
    <add key="SuperUser" value="AA38DF84-2E30-43CA-AED3-7276224D1B7E"/>
    <add key="ServerPath" value="E:\Filemanager\Uploadbatch\Import\Processing"/>
    <add key="Interval" value="60000"/>
    <!--testing path-->
    <add key="LocalPath" value="E:\Project\ImportAgent\"/>
    <add key="supportedExtensions" value="*.xls,*.xlsx,*.txt,*.csv"/>
    <add key="FromMail" value="service@commissionsdept.com"/>
    <!-- For Production
    <add key ="ToMail" value="ewood@commissionsdept.com"/>-->
    <add key="DevMailServerName" value="smtp.gmail.com"/>
    <add key="DevMailServerEMail" value="testcommissiondept@gmail.com"/> 
    <add key="DevMailServerUserName" value="testcommissiondept@gmail.com"/> 
    <add key="DevMailServerPassword" value="Acme2018"/> 
    <add key="DevMailServerPortNo" value="587"/> 
    <add key="ToMail" value="jyotisna@acmeminds.com"/> 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
